@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

html {
    overflow: scroll;
    overflow-x: hidden;
    height: 100% !important;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
  height: 100% !important;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Nunito', sans-serif;
}

nav a {
    color: #666666 !important;
    margin-left: 26px;
    opacity: 0.6;
}

nav a:visited {
    color: #6A6ADC !important;
    opacity: 0.8;
}

nav a:hover {
    color: #4B6EF6 !important;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    text-decoration: none;
    opacity: 1;
}

nav a:active {
    color: #6A6ADC !important;
    opacity: 0.8 !important;
}

a {
    color: #6A6ADC;
    font-weight: 400 !important;
    opacity: 0.9;
}

a:visited {
    color: #6A6ADC;
    opacity: 0.8;
}

a:hover {
    color: rgb(75, 86, 246) !important;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    text-decoration: none;
    opacity: 1;
}

a:active {
    color: #6A6ADC !important;
    opacity: 0.8 !important;
}

/*BOOTSTRAP OVERWRITE*/
a.text-danger {
    color: #FF7E79 !important;
}

a.text-danger:focus,
a.text-danger:hover {
    color: rgb(243, 73, 67) !important;
}

/*BUTTON*/
.btn-system {
    background: rgb(225, 225, 248) !important;
    border-radius: 10px;
    color: #6A6ADC;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.btn-system:hover {
    background: #6A6ADC !important;
    color: white !important;
}
.btn-contact {
    background: #E4F0FF !important;
    border-radius: 6px;
    color: #808080;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    padding: 0px 8px;
}

.btn-contact:hover {
    background: #6A6ADC !important;
    color: white;
}

.btn-danger {
  background: rgb(255, 229, 228) !important;
  border: none !important;
  border-radius: 10px;
  color: #FF7E79;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  padding: 0px 8px;
}

.btn-danger:hover {
  background: #FF7E79 !important;
  color: white;
}

.btn-link {
  background: transparent !important;
  border-radius: 10px;
  color: #6A6ADC !important;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  opacity: 0.8;
}

.btn-link:hover {
  color: #6A6ADC !important;
  background: transparent;
  text-decoration: none;
  opacity: 1;
}
.btn-google{
  background: #4285F4;
  color: white !important;
}
.btn-google:hover{
  background: #4285F4;
  color: white !important;
}

/* BT OVERWRITE*/
.text-muted{
  color: #999999 !important;
}
.text-success{
  color: #24b47e !important;
}

input{
  border: none !important;
  background: #f1f1f1 !important;
}
.form-control::placeholder{
  font-weight: bold !important;
  opacity: 0.5 !important;
}

/* Badge*/

.badge-success {
  background: rgb(102, 188, 151) !important;
  border: none !important;
  border-radius: .25rem;
  color: white;
  padding: .25em .4em;
}

.badge-danger {
  background: rgb(255, 126, 121) !important;
  border: none !important;
  border-radius: .25rem;
  color: white !important;
  padding: .25em .4em;
}
.badge{
  font-size: 100% !important;
}
.badge-secondary{
  background: #DFEBF4 !important;
  color: #666666 !important;
}


/* RADIO BUTTON*/
.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display:inline-block;
    background-color:white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;  
    -webkit-transition-duration: 0.6s;
    /* Safari */
    transition-duration: 0.6s;
    color: #777777;  
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color: #6A6ADC;
    color: white;
}

.radio-toolbar label:hover {
    border: 1px solid #6A6ADC;
  }

.card{
  border-radius: 1.5rem;
  background: white;
  border: 0px none !important;
  box-shadow: 0px 0px 2px 0px #DDDDDD;
}
.div-logo{
  border-radius:1.5rem !important;
  text-align: center;
  padding: 0.5rem;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

/* Font Sizes
------------------------------------
*/
.fs-10 {
    font-size: 10px !important;
  }
  .fs-11 {
    font-size: 10.5px !important;
  }
  .fs-12 {
    font-size: 12px !important;
  }
  .fs-13 {
    font-size: 13px !important;
  }
  .fs-14 {
    font-size: 14px !important;
  }
  .fs-15 {
    font-size: 15px !important;
  }
  .fs-16 {
    font-size: 16px !important;
  }
  /* Line-heights
  ------------------------------------
  */
  .lh-normal {
    line-height: normal;
  }
  .lh-10 {
    line-height: 10px;
  }
  .lh-11 {
    line-height: 11px;
  }
  .lh-12 {
    line-height: 12px;
  }
  .lh-13 {
    line-height: 13px;
  }
  .lh-14 {
    line-height: 14px;
  }
  .lh-15 {
    line-height: 15px;
  }
  .lh-16 {
    line-height: 16px;
  }
  .lh-15 {
    line-height: 1.5;
}
/*COLORS*/
.faded {
    opacity: 0.5;
}

/*OPACITY*/
.o-1{
  opacity: 0.1;
}
.o-2{
  opacity: 0.2;
}
.o-3{
  opacity: 0.3;
}
.o-4{
  opacity: 0.4;
}
.o-5{
  opacity: 0.5;
}
.o-6{
  opacity: 0.6;
}
.o-7{
  opacity: 0.7;
}
.o-8{
  opacity: 0.8;
}
.o-9{
  opacity: 0.9;
}

/*HEADING*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333 !important;
}

/*BLOCK SIZES*/
.homepage-logo {
    width: 70px;
    height: 70px;
}
.user-img {
  width: 46px;
  height: 46px;
  opacity: 0.8;
}
/*WIDTH SIZES*/
.w-160{
    max-width: 160px;
}

/*HEIGHT*/
.h-50{
  height: 50vh !important;
}

.br-xs{
  border-radius: 0.5rem;
}
.br-sm{
  border-radius: 0.75rem;
}
.br-md{
  border-radius: 1rem;
}
.br-lg{
  border-radius: 1.25rem;
}
/*SHAPES*/
.dot {
    width: 4px;
    height: 4px;
    background: #6A6ADC;
    border-radius: 50%;
    display: inline-block;
}
.courier-logo {
  border-radius: 10px;
  padding: 6px;
  font-weight: bold;
  text-transform: uppercase;
}
.rapid-delivery{
  background-color: rgba(187, 226, 253, 0.6);
}
.xb{
  background-color: rgba(244, 132, 0, 0.3);
}
.fedex{
  background-color: rgba(76, 16, 146, 0.2);
}
.wow-express{
  background-color: rgba(0, 103, 186, 0.2);
}
.delhivery{
  background-color: rgba(153, 153, 153, 0.4);
}
.bluedart{
  background-color: rgba(0, 103, 186, 0.2);
}
.ekart{
  background-color: rgba(0, 103, 186, 0.2);
}
.ecom{
  background-color: rgba(183,41,39,.2);
}
.notification-badge {
    background-color: #FF7E79;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-flex;
    margin-left: 5px;
}



/*FORMS*/
.form-group-attached{
    margin: 0;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
input:focus[type=text]{
    background: #F9E9E9;
}




select:focus,
textarea:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.masonry{
  max-width: 800px;
  margin: 0 auto;
  height: 510px;
  display: flex;
  flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
  justify-content: flex-start;
  align-items: flex-start;
}